/* ==================== HOME SECTION STARTED ======================= */
section {
    padding: 2rem 9%;
  }
  
  .home{
      min-height: 100vh;
      padding-top: 12rem;
      background: url(../image/home-bg.jpg) no-repeat;
      background-position: center;
      background-size: cover;
  }
  
  .home .row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;
  }
  
  .home .row .content{
      flex: 1 1 42rem;
  }
  
  .home .row .image{
      flex: 1 1 42rem;
      padding-top: 10rem;
      text-align: center;
  }
  
  .home .row .image img{
      height: 35rem;
      animation: float 4s linear infinite;
  }
  
  @keyframes float{
      0%, 100%{
          transform: translateY(0rem);
      }
      50%{
          transform: translateY(-7rem);
      }
  }
  
  .home .row .content h3{
      font-size: 6.5rem;
      color: var(--main-color);
      text-transform: uppercase;
  }
  
  .home .image-slider{
      text-align: center;
      padding: 3rem 0;
  }
  
  .home .image-slider img{
      height: 9rem;
      margin: 0 .5rem;
      cursor: pointer;
      margin-top: 5rem;
  }
  
  .home .image-slider img:hover{
      transform: translateY(-2rem);
  }
  
  /* ====================== HOME SECTION ENDED ======================= */